nav ul li .nav-link{


}
#e-shop{
    margin-left: 150px;
    color: black;
}
a{
    text-decoration: none !important;
    
    
}
/* Add to cart page */
#add-to-cart{
    background-color: aliceblue;
}
