nav ul li .nav-link{
color: white;
font-size: 20px;
font-weight: bold;

}
nav{
    background-color: red;
    color: white;
}

#e-shop{
    margin-left: 150px;
    color: black;
}
a{
    text-decoration: none !important;
    
    
}
/* Add to cart page */
#add-to-cart{
    background-color: aliceblue;
}
.checkout-form{
    font-size: 20px;
    font-weight: bold;
}
.checkout-form input{
    height: 40px;
}
.table-checkout{
    font-size: 20px;
    padding: 1%;
}
#nav-me:hover{
  background-color: lightblue;
}
.card label{
    font-weight: bold;
}
.card .border{
  
    
}

