nav ul li .nav-link{
color: white;
font-size: 20px;
font-weight: bold;

}
nav{
    background-color: red;
    color: white;
}

#e-shop{
    margin-left: 150px;
    color: black;
}
a{
    text-decoration: none !important;
    
    
}
/* Add to cart page */
#add-to-cart{
    background-color: aliceblue;
}
.checkout-form{
    font-size: 20px;
    font-weight: bold;
}
.checkout-form input{
    height: 40px;
}
.table-checkout{
    font-size: 20px;
    padding: 1%;
}
#nav-me:hover{
  background-color: lightblue;
}
.card label{
    font-weight: bold;
}
.card .border1{
  border-style: solid;
  border-color: dark;
  border-width: 2px;
  min-height: 50px;
  background-color: lightgray;
    
}


.rating-css div{
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
    padding: 0 20px;
    
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

/* End of Star Rating


