#add-data{
    border-bottom:solid gray 1px;
    margin-bottom: 30px;
    
}
#e-img{
    width:100%; height:350px;
}
#sidenav-main{
    background-color:white;
    width:300px; 
    margin-top: 1%;
}
aside .sidenav-header{
    margin-left:50px; color:gray; font-size:40px; font-weight:bold; height:80px;
}
#sidenav-main li a:hover{
    background-color:rebeccapurple;
}
li .nav-link .text-white i{
    color: gray;
}

.checkout-form{
    font-weight:bold;
}


