#add-data{
    border-bottom:solid gray 1px;
    margin-bottom: 30px;
    
}
#e-img{
    width:100%; height:350px;
}
#sidenav-main{
    background-color:lightskyblue;
    width:350px;
    
}
.checkout-form{
    font-weight:bold;
}
nav{
    background-color: aqua;
}

